<?xml version="1.0" encoding="UTF-8"?>
<!-- create SQL Mapper -->
<!--  @author NguyenDoanNam  -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapperAdmin.multiChoiceMapper"> <!-- like package -->
	<!-- no need loop resultSet -->
	<resultMap type="multiChoiceAdminVO" id="multiChoiceResult">
		<result property="id" column="id" />
		<result property="title" column="title" />
		<association property="test" column="testId" javaType="testAdminVO"
            select="mapperAdmin.testMapper.selectbyId" /> 
        <!-- <result property="testId" column="testId" /> -->
	</resultMap>
	<!-- make sql statement -->
	
	<select id="selectAll" resultMap="multiChoiceResult"> 
		<![CDATA[
			select * from multichoice_question
		]]>
	</select>
	<select id="selectbyTestId" resultMap="multiChoiceResult"> 
		<![CDATA[
			select * from multichoice_question where multichoice_question.testId = #{test.id}
		]]>
	</select>
	<select id="selectbyId" resultMap="multiChoiceResult" > 
		<![CDATA[
			SELECT * FROM multichoice_question where multichoice_question.id = #{id}
		]]>
	</select>
	
</mapper>