<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mappers.courseLevelMapper"> <!--like package of class-->
	<!--no need loop result set-->
	<resultMap type="courseLevelVO" id="courseLevelResult">
		<result property="id" column="id" />
		<result property="levelName" column="levelName"/>
	</resultMap>
	
	<!--make sql statement-->
	<select id="selectAll" resultMap="courseLevelResult">
		<![CDATA[
			select * from course_level
		]]>
	</select>
	<select id="selectOne" resultMap="courseLevelResult" parameterType="int">
		<![CDATA[
			select * from course_level
			where id = #{id}
		]]>
	</select>
	
	<insert id="insert" parameterType="courseLevelVO" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into course_level (levelName)
			values (#{levelName})
		]]>
	</insert>
	
	<update id="update" parameterType="courseLevelVO">
	<![CDATA[
			update course_level
			set categoryName =#{categoryName},
			where id = #{id}
		]]>
	</update>

	<delete id="delete" parameterType="int">
		<![CDATA[
			delete course_level
			where id = #{id}
		]]>
	</delete>
	
</mapper>