<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="mappers.promotionMapper"> <!--like package of class-->
	<!--no need loop result set-->
	<resultMap type="promotionVO" id="promotionResult">
		<result property="id" column="id" />
		<result property="promotionname" column="promotionname" />
		<result property="enddate" column="enddate" />
		<result property="discount" column="discount" />
		<result property="startdate" column="startdate" />
		
	</resultMap>
	
	<!--make sql statement-->
	<select id="selectAll" resultMap="promotionResult">
		<![CDATA[
			select * from promotion
		]]>
	</select>
	<select id="selectOne" resultMap="promotionResult" parameterType="int">
		<![CDATA[
			select * from promotion
			where id = #{id}
		]]>
	</select>
	
	<insert id="insert" parameterType="promotionVO" useGeneratedKeys="true" keyProperty="id">
		<![CDATA[
			insert into promotion (id, promotionname, enddate, discount,startdate )
			values ( #{id}, #{promotionname}, #{enddate}, #{discount}, #{startdate})
		]]>
	</insert>
	
	<update id="update" parameterType="promotionVO">
	<![CDATA[
			update promotion
			set id =#{id},
				promotionname = #{promotionname},
				enddate = #{enddate},
				discount = #{discount},
				startdate = #{startdate},
			
		]]>
	</update>
	
	
	<delete id="delete" parameterType="int">
		<![CDATA[
			delete promotion
			where id = #{id}
		]]>
	</delete>
	
</mapper>